@import "tailwindcss";

:root {
  --background: #0a0f14;

  --foreground: #e0e5e9;

  --sidebar: #004e64;

  --card: #101820;

  --accent: #0e7490;

  --accent-hover: #155e75;

  --muted: #94a3b8;

  --border: #1e293b;
}

body {
  background-color: var(--background);

  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;
}
